node_modules/
.pnpm/
.yarn/
*.tsbuildinfo

.next/
out/

coverage/
__tests__/
*.spec.ts
*.test.ts

.env
.env.*
!.env.example

*.log
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

.vscode/
.idea/
.DS_Store
.eslintrc*
.prettier*
.editorconfig
.nodemon.json

docker-compose*
Dockerfile*
.git/
.gitignore
.husky/
commitlint.config.*
